video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .todo {
    background: linear-gradient(0deg, rgba(2,0,36,1) 21%, rgba(85,0,170,1) 84%, rgba(85,0,170,1) 100%);
     /* background: url('/images/img-7.jpg') center center/cover no-repeat; */
    height: 91.8vh;
    width: 100%;
    padding: 100px;
    
  }
  
  
  .sobremi1 > h1 {
    color: #fff;
    font-size: 50px;
  }
  
  .sobremi1 > h3 {
    color: #fff;
    font-size: 50px;
  }
  
  .sobremi1 > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  
  @media screen and (max-width: 960px) {
    .sobremi1 > h1 {
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .sobremi1 > h1 {
      font-size: 30px;
    }
  
    .sobremi1 > p {
      font-size: 30px;
    }
  }